<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
<div class="my-2">
    <label for="id" class="form-label">Email address</label>
    <input type="type" class="form-control" id="id" placeholder="placeholder" v-model="value">
    <p class="text-danger">{{error}}</p>
</div>
    </div>
</body>
</html>